{% extends 'base.html.twig' %}

{% block title %}Hello CochesController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code>/var/www/html/hyundauto/src/Controller/CochesController.php</code></li>
        <li>Your template at <code>/var/www/html/hyundauto/templates/coches/index.html.twig</code></li>
    </ul>
</div>

<section class="w-50 p-3 m-3">
    {{ form_start(miForm) }}
        {{ form_widget(miForm) }}
    {{ form_end(miForm) }}

    {% if mensaje is defined %}
    <div class="alert alert-success">
        {{ mensaje }}
    </div>
    {% endif %}
</section>
{% endblock %}
